
/* footer + checkout */
.social-af > i {
  color: #9ce1ad;
}

.header-checkout {
  height: auto;
  margin-bottom: 3rem;
}

.main-logo {
  width: 15rem;
  background-color: #9ce1ad;
  padding-top: 5rem;
}

.social-btn > i:hover {
  transform: scale(1.3);
}

.social-af :nth-child(1) {
  margin-right: 10%;
}

.social-af :nth-child(2) {
  margin-right: 10%;
}

footer {
  padding-left: 10rem;
  padding-right: 10rem;
}

.footer-h5 {
  color: #9ce1ad;
}

a:hover {
  text-decoration: none;
  color: #649971 !important;
}

a {
  text-decoration: none;
  color: #9ce1ad;
}

footer {
  background-color: #1e201f;
}

/* Below How it Works CSS */
#how-it-works > .row {
  background-color: #9de0ad;
  margin: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  min-height: 300px;
}

.how-img {
  display: flex;
  text-align: center;
  justify-content: center;
}

.how-img > i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.far {
  font-size: 100px;
}

.fas {
  font-size: 100px;
}

#how-it-works {
  padding-bottom: 5rem;
  background-color: #9de0ad;
}
#how-it-works > h1 {
  text-align: center;
  color: #9de0ad;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: white;
}

.mbr-iconfont {
  font-size: 4.5rem !important;
  color: #944a50;
  margin: 1rem;
  padding-right: 1rem;
}

h2 {
  color: red;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

h3 {
  color: black;
}

h4 {
  color: black;
}

.display-5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
}

p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 25px;
}
.display-6 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1re;
}

/* Below As Seen On CSS  */

#as-seen-on > h1 {
  text-align: center;
  color: #9de0ad;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: white;
}

.news-logo {
  display: flex;
  background: #9de0ad;
  align-content: center;
  justify-content: center;
}
.news-logo > img {
  display: flex;
  align-content: center;
  justify-content: center;
  max-height: 200px;
  margin: 10px;
}

.as-seen-on {
  background: #9de0ad;

  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.row {
  align-items: center;
}

/* nav-bar + header */

header {
  position: relative;
  background-color: black;
  height: 90vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

nav {
  font-family: "Roboto", sans-serif;
}

.navbar-inner {
  background: transparent;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black
      no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.meanful-button {
  font-size: 24px;
  background: transparent;
  border: none;
  color: white;
  margin-top: 10vh;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.5s;
}

.meanful-button:hover {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  font-size: 24px;
  background: transparent;
  border: none;
  color: white;
  margin-top: 10vh;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  border: 10px;
  border-color: white;
  border-width: 10px;
  border-style: double;
}

.navbar-toggler {
  color: #547980 !important;
  margin-right: 65px;
}

.nav-custom-left {
  color: #547980 !important;
  margin-left: 35px;
  margin-right: 35px;
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    left: -45% !important;
    right: auto !important;
    text-align: center !important;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.custom-button-navbar {
  padding: 10px;
  position: relative;
  color: #547980 !important;
  box-sizing: border-box !important;
  border-width: 0px !important;
  border-style: solid !important;
  border-color: #547980 !important;
  transition-duration: 0.2s;
}

.custom-button-navbar:hover {
  padding: 14px;
  border-width: 1px !important;
}

.custom-button-navbar:active {
  padding: 16px;
  border-width: 1px !important;
}